body{
	background-image: url(pcmb.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 150vh;


}

}
li {
	font color:red; 
	color: red;
}
a{
	color: black;
}